html {
	width: 100%;
	padding:0;
	margin:0;
	font-family: 'Overpass Mono', monospace;
}

.canvas-container {
	background:#282a2e;
	margin:15px;
	vertical-align:top;
	display: inline-block;
}

#truth-table {
	margin-top:15px;
	padding: 10px;
	box-sizing:border-box;
	text-align:center;
	width: 285px;
	background:#282a2e;
	display: inline-block;
	vertical-align:top;
} 
body {
	padding:0;
	margin:0;
	color:#c5c8c6;
	background:#101112;
}
#current-hovered-element {
	margin:0 15px 15px 15px;
	padding:15px;
	font-family:'Overpass Mono', monospace;
	box-sizing:border-box;
	background:#282a2e;
}

#tabs div {
	background-color: white;
}

div.active {
	background-color: black;
}